.updatePackage-container {
  width: 700px;
  margin: 120px 0 0 500px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #060767;
  padding: 20px;
  display: block;
  color: #eee;
}

.updatePackage-heading {
  margin-bottom: 50px;
  color: #eee;
}

.updatePackage {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.update-label {
  width: 200px;
  font-weight: bold;
  font-size: 25px;
}

.update-input {
  padding: 10px 15px;
  width: 300px;
  border: none;
  outline: none;
}

.package-spinner {
  color: #060767;
}

.update-submit {
  background: #eb5424;
  color: #eee;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-top: 20px;
}
