.ports-container {
  position: absolute;
  display: flex;
  margin-top: 62px;
}

.ports-project {
  padding: 0px 30px;
  width: 1200px;
  /* min-height: 87.3vh; */
  margin-left: 280px;
  /* margin-top: 33px; */
  /* text-align: center; */
  /* position: relative; */
}

/* ul {
    height: 50vh;
  } */

.ports-heading {
  /* margin: 33px 0 10px; */
  margin: 10px 0 10px;
  background-color: white;
  padding: 15px 10px;
  border-radius: 7px;
  color: #eb5424;
}

.pagi {
  background-color: #001529;
  /* width: 600px; */
  width: fit-content;
  text-align: center;
  color: white;
  max-height: 80px;
  border-radius: 10px;
  padding-right: 10px;
}

.ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination .ant-pagination-next .ant-pagination-item-link,
.ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-link
  .ant-pagination-item-ellipsis,
.ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-link
  .ant-pagination-item-ellipsis {
  color: white;
}

.ant-pagination .ant-pagination-item:hover,
.ant-pagination .ant-pagination-prev .ant-pagination-item-link:hover,
.ant-pagination .ant-pagination-next .ant-pagination-item-link:hover {
  color: blue;
}

.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: #1677ff;
  border-color: #1677ff;
}

.action-btn {
  margin-left: 10px;
  border-radius: 7px;
}
